body {
  background-color: #2E2E2E;
  color: white;
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 0;
}

.app {
  text-align: center;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0 1rem;
}