.header {
    background-color: #3235d1;
    padding: 1rem 0;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}