body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 0;
  height: 100%;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #2E2E2E;
  color: white;
}

body.light-mode {
  background-color: #f5f5f5;
  color: #333;
}

html {
  height: 100%;
  width: 100%;
}

.app {
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.app.dark-mode {
  background-color: #2E2E2E;
  color: white;
}

.app.light-mode {
  background-color: #f5f5f5;
  color: #333;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0 1rem;
}

.profiles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.contact-us {
  border-radius: 8px;
  padding: 20px;
  width: 60%;
  text-align: center;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s;
}

.dark-mode .contact-us {
  background-color: #3E3E3E;
}

.light-mode .contact-us {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-us h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.dark-mode .contact-us h2 {
  color: white;
}

.light-mode .contact-us h2 {
  color: #333;
}

.contact-us p {
  font-size: 1rem;
}

.dark-mode .contact-us p {
  color: #D3D3D3;
}

.light-mode .contact-us p {
  color: #666;
}

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 10px 0;
}

.filter-container label {
  font-size: 1rem;
  font-weight: bold;
}

.filter-container select {
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s;
}

.dark-mode .filter-container select {
  background-color: #3E3E3E;
  color: white;
}

.light-mode .filter-container select {
  background-color: #ffffff;
  color: #333;
}

.filter-container select:focus {
  border-color: #0060fa;
  box-shadow: 0 0 5px rgba(0, 96, 250, 0.5);
}

.dark-mode .filter-container select option {
  background-color: #2E2E2E;
  color: white;
}

.light-mode .filter-container select option {
  background-color: #ffffff;
  color: #333;
}

.search-box {
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s;
}

.dark-mode .search-box {
  background-color: #3E3E3E;
  color: white;
}

.light-mode .search-box {
  background-color: #ffffff;
  color: #333;
}

.search-box:focus {
  border-color: #0060fa;
  box-shadow: 0 0 5px rgba(0, 96, 250, 0.5);
}

.reset-button {
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dark-mode .reset-button {
  background-color: #3E3E3E;
  color: white;
}

.light-mode .reset-button {
  background-color: #e0e0e0;
  color: #333;
}

.reset-button:hover {
  background-color: #004bb5;
  color: white;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dark-mode .pagination button {
  background-color: #3E3E3E;
  color: white;
}

.light-mode .pagination button {
  background-color: #e0e0e0;
  color: #333;
}

.pagination button:hover {
  background-color: #004bb5;
  color: white;
}

.pagination button:disabled {
  cursor: not-allowed;
}

.dark-mode .pagination button:disabled {
  background-color: #2E2E2E;
  color: #777;
}

.light-mode .pagination button:disabled {
  background-color: #cccccc;
  color: #999;
}

.pagination span {
  font-size: 1rem;
  font-weight: bold;
}
